/* fundamental CSS */
html, body {
    width : 100%;
    height : 100%;
    margin : 0 auto;
    background-color : #bceaff;

    font-family: 'Poor Story', cursive;
    font-family: 'Sriracha', cursive;
}

body#home-background {
    background-image : url('..\\IMAGE\\38309.jpg');
	background-repeat : no-repeat;
	background-size : cover;

}

div.wrapper {
    width : 100%;
    height : 100%;
    text-align : left;
    margin : 0 auto;
}

nav, section.explanation {
    position : absolute;
    float : left;
}

nav {
    background-color : #fff;
    width : 230px;
    height : 100%;  
}

h1 {
    font-family: 'Sriracha', cursive;
    text-align :center;
    font-size : 40px;
    color : black;
}

h1 a {
    color:black;
}

h2, br {
    font-family: 'Poor Story', cursive;
}
p.title {
    margin-top : 50px;
    margin-bottom : 10px;
    font-weight: bold; 
    font-size : 30px; 
    text-align: center;
}

p#source {
    font-size : 17px;
}

.homepage_ex {
    font-size : 20px;
}

.source-link {
    color : rgb(10, 54, 248);
}

ul {
    -webkit-padding-start: 0px;
    font-weight : bold;
    list-style-type: none;
    font-family: 'Poor Story', cursive;
    
}

li {
    line-height: 350%;
    font-family: 'Poor Story', cursive;
    margin-bottom: 5px;
    border-bottom: 1px solid #efefef;
}

li a {
    margin-left:10px;
    color: black;
    display:block;
}

p, br {
    font-family: 'Poor Story', cursive;
}

/* Main page */
a {
    text-decoration : none;
}

section.explanation {
    margin-top : 200px;
    background-color : #fff;
    left : 230px;
    width :520px;
    height : 470px;
}

article {
    /* width : 90%;*/
    margin : 20px;
    background-color: #f7f9fb00;
    font-family: 'Poor Story', cursive;
}

/* Menu1 page */
body.menu-body {
    background-color : #bceaff;
    overflow : hidden;
}

section.recipe-wrap {
    text-align : center;
    padding : 10px;
    margin-left : 220px;
    height : 100%;
    overflow : auto;
}

div.recipe-post {
    /* border color : 영역 구분을 위한 임시 설정 색 */
    border : 3px solid rgba(255, 217, 0, 0);
    background : #fff;
    /*float : left;*/
    width : 300px;
    padding : 10px;
    margin : 30px;
    display: inline-block;
    vertical-align : middle;
}

div.food-image {
    border : 3px solid rgba(0, 0, 0, 0);
    margin-bottom : 20px;
    height : 221px;
    width : 297px;
}

/*Youtube-recipe*/
div.youtube-play {
    position : absolute;
    border : 3px solid rgba(255, 217, 0, 0);
    left : 230px; top : 7%;
    margin-left : 5%;
    width : 900px;
}

div.youtube-area {
    border : 3px solid rgba(0, 0, 0, 0);
    text-align : center;    /*text 표시 때문에 사용*/
    margin-top : 90px;
    height : 500px;
}

div.recipe {
    position : absolute; top : 95.5px;
    border : 3px solid rgba(255, 0, 0, 0);
    background : #fff;
    left : 1231.141px;
    overflow : auto;
    text-align : center;
    width : 600px;
    height : 75%;
}


::-webkit-scrollbar { 
    width: 10px; height: 10px;
}

::-webkit-scrollbar-track { 
    background-color: #bceaff00;
    border-radius : 8px;
}

::-webkit-scrollbar-thumb {
    background-clip: padding-box;
	background : #025981;
	border-radius : 8px;
}

ol { 
    display : table;
    margin-left: 0px;
    margin-right: auto;
    float : left;
    width : 40%
}



/* left 메뉴의 li들 속성 지정 */
#leftMenu .menuLink { 
    text-decoration:none; 
    color: white; 
    display: block; 
} 
#leftMenu .menuLink:hover { 
    background-color: #8d8d8d; 
}
